// Specific CSS for your home-page

.card-category {
    padding: 20px;
    color: white;
    font-size: 3.5rem;
    text-align: center;
    background-size: cover;
    background-position: center;
    margin-bottom: 15px;
}
.cards {
    margin-top: 20px;
}



.card-elf {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.card-elf img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-elf h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-elf p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-elf .card-elf-infos {
  padding: 16px;
}
