.img-show {
  height: 372px;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.intro {
  p,h1 {
    text-align: center;
  }
}

.container-show-elf {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px;
  margin: 9px 25px 26px 25px;
  box-shadow: #779099 0px 6px 16px;

}


.container-show-elf .content-show-elf {
  flex: 1;
  margin-right: 20px;
}


.formulaire {
  border: solid 1px;
  border-color: #08686C;
  border-radius: 4px;
  width: 300px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
}

.navigation {
  margin-top: 50px;
}

.container-reviews {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 35px;
  margin: 9px 25px 26px 25px;
  box-shadow: #779099 0px 6px 16px;
}

.reviews-form {
  padding-right: 35px;
}

.reviews-comment {
  padding: 35px;
  background-color: #ECF1F1;
}
