
<footer class="py-5 mt-4 background-green justify-content-center">
  <div class="footer-links justify-content-center ">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>

  <ul class="nav justify-content-center pb-3">
    <li class="nav-item"><a href="#" class="nav-link px-2 text-light">Home</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-light">Features</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-light">Pricing</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-light">FAQs</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-light">About</a></li>
  </ul>
  <p class="text-center text-light footer-links justify-content-center">@ ELFYNB, inc</p>
</footer>
