.navbar-lewagon {
  justify-content: space-between;
  background: linear-gradient(90deg, rgba(8,104,108,1) 0%, rgba(3,45,47,1) 100%);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .nav-link {
  color: white;
}

.site-title {
  color: white;
  font-family: 'MyCustomFont';
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}
