.navbar-lewagon {
  justify-content: space-between;
  background: #08686C;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .nav-link {
  color: white;
}

.site-title {
  color: white;
  font-family: 'MyCustomFont';
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}
